*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

orientdb4r.sublime-project
orientdb4r.sublime-workspace

# YARD artifacts
.yardoc
_yardoc
doc/

/Gemfile.lock
